body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#main
{
    background-color: black;
    display: grid;
    gap: 2px;
    padding: 2px;
    width: 980px;
    height: 980px;
    margin-left: 5rem;
}
.square
{
    background-color: white;
}
