body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#main
{
    background-color: black;
    display: grid;
    gap: 1px;
    padding: 1px;
    width: 980px;
    height: 980px;
    margin-left: 5rem;
}
.square
{
    background-color: white;
}
